{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/advancedtimer/header.png",
      "fileBody" : "/interface/advancedtimer/body.png",
      "fileFooter" : "/interface/advancedtimer/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Pulse Extender",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/wiringstation.png",
        "zlevel" : -1
      },
      "position" : [10, 0]
    },

    "lblRange" : {
      "type" : "label",
      "position" : [10, 60],
      "hAnchor" : "left",
      "value" : "Delay (sec):"
    },
    "imgRange" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [63, 59],
      "zlevel" : -3
    },
    "spnRange" : {
      "type" : "spinner",
      "position" : [57, 60],
      "upOffset" : 36
    },
    "tbxRange" : {
      "type" : "textbox",
      "position" : [70, 60],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex": "\\d*(\\.\\d*)?",
      "callback": "setTimerVal"
    },
    
    "cbxHidden" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [10, 45],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setHidden"
    },
    "lblHidden" : {
      "type" : "label",
      "position" : [25, 45],
      "hAnchor" : "left",
      "value" : "Hide object"
    },
    "cbxCamo" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [95, 45],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setCamo"
    },
    "lblCamo" : {
      "type" : "label",
      "position" : [110, 45],
      "hAnchor" : "left",
      "value" : "Camoflague sensor"
    },
    "btnLoadDefault" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Load defaults",
      "position" : [10, 25],
      "callback" : "loadDefaults"
    },
    "btnSaveDefault" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Set as default",
      "position" : [120, 25],
      "callback" : "saveDefaults"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [185, 80]
    }
  },

  "scriptWidgetCallbacks" : [
    "setTimerVal",
    "setHidden",
    "setCamo",
    "spnRange.up",
    "spnRange.down",
    "loadDefaults",
    "saveDefaults"
  ],

  "scripts" : ["/interface/advancedtimer/advancedtimer.lua"],
  "scriptDelta" : 12
}
