{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/wiretap/header.png",
      "fileBody" : "/interface/wiretap/body.png",
      "fileFooter" : "/interface/wiretap/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Wiretap",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/wiringstation.png",
        "zlevel" : -1
      },
      "position" : [10, 0]
    },
	
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 24, 195, 177],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
		        "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [22, 18],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 116,
                "lineSpacing" : 1.05,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "image",
                "position" : [10, 10],
                "centered" : true
              },
              "itemDesc" : {
                "type" : "label",
                "position" : [22, 10],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 116,
                "lineSpacing" : 1.05,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [185, 185]
    }
  },

  "scriptWidgetCallbacks" : [],

  "scripts" : ["/interface/wiretap/wiretap.lua"],
  "scriptDelta" : 12
}
