{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/detector/header.png",
      "fileBody" : "/interface/detector/body.png",
      "fileFooter" : "/interface/detector/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Detector",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/wiringstation.png",
        "zlevel" : -1
      },
      "position" : [10, 0]
    },

    "lblRange" : {
      "type" : "label",
      "position" : [10, 70],
      "hAnchor" : "left",
      "value" : "Range:"
    },
    "imgRange" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [63, 69],
      "zlevel" : -3
    },
    "spnRange" : {
      "type" : "spinner",
      "position" : [57, 70],
      "upOffset" : 36
    },
    "tbxRange" : {
      "type" : "textbox",
      "position" : [70, 70],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex": "\\d*(\\.\\d*)?",
      "callback": "setRange"
    },
	
	"lblMode" : {
      "type" : "label",
      "position" : [10, 55],
      "hAnchor" : "left",
      "value" : "Mode:"
    },
    "imgMode" : {
      "type" : "image",
      "file" : "/interface/detector/amount.png",
      "position" : [56, 54],
      "zlevel" : -3
    },
    "spnMode" : {
      "type" : "spinner",
      "position" : [50, 55],
      "upOffset" : 45
    },
    "tbxMode" : {
      "type" : "textbox",
      "position" : [61, 55],
      "textAlign" : "center",
      "maxWidth" : 25,
      "callback": "setMode"
    },
    
    "cbxHidden" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [105, 70],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setHidden"
    },
    "lblHidden" : {
      "type" : "label",
      "position" : [120, 70],
      "hAnchor" : "left",
      "value" : "Hide detector"
    },
    "cbxCamo" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [105, 55],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setCamo"
    },
    "lblCamo" : {
      "type" : "label",
      "position" : [120, 55],
      "hAnchor" : "left",
      "value" : "Camoflague sensor"
    },
	"cbxIgnoreWalls" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [105, 42],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setIgnoreWalls"
    },
    "lblIgnoreWalls" : {
      "type" : "label",
      "position" : [120, 42],
      "hAnchor" : "left",
      "value" : "Ignore Walls"
    },
    "btnLoadDefault" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Load defaults",
      "position" : [10, 25],
      "callback" : "loadDefaults"
    },
    "btnSaveDefault" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Set as default",
      "position" : [120, 25],
      "callback" : "saveDefaults"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [185, 95]
    }
  },

  "scriptWidgetCallbacks" : [
    "setRange",
    "setMode",
    "setIgnoreWalls",
    "setHidden",
    "setCamo",
    "spnRange.up",
    "spnRange.down",
	"spnMode.up",
    "spnMode.down",
    "loadDefaults",
    "saveDefaults"
  ],

  "scripts" : ["/interface/detector/detector.lua"],
  "scriptDelta" : 12
}
