{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/advancedtimer/header.png",
      "fileBody" : "/interface/advancedtimer/body.png",
      "fileFooter" : "/interface/advancedtimer/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Pulse Former",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/wiringstation.png",
        "zlevel" : -1
      },
      "position" : [10, 0]
    },    
    "cbxHidden" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [10, 45],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setHidden"
    },
    "lblHidden" : {
      "type" : "label",
      "position" : [25, 45],
      "hAnchor" : "left",
      "value" : "Hide object"
    },
    "cbxCamo" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [95, 45],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "callback" : "setCamo"
    },
    "lblCamo" : {
      "type" : "label",
      "position" : [110, 45],
      "hAnchor" : "left",
      "value" : "Camoflague sensor"
    },
    "btnLoadDefault" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Load defaults",
      "position" : [10, 25],
      "callback" : "loadDefaults"
    },
    "btnSaveDefault" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Set as default",
      "position" : [120, 25],
      "callback" : "saveDefaults"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [185, 80]
    }
  },

  "scriptWidgetCallbacks" : [
    "setHidden",
    "setCamo",
    "loadDefaults",
    "saveDefaults"
  ],

  "scripts" : ["/interface/pulseformer/pulseformer.lua"],
  "scriptDelta" : 12
}
