{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/constant/header.png",
      "fileBody" : "/interface/constant/body.png",
      "fileFooter" : "/interface/constant/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Constant",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/wiringstation.png",
        "zlevel" : -1
      },
      "position" : [10, 0]
    },

    "lblConstant" : {
      "type" : "label",
      "position" : [10, 60],
      "hAnchor" : "left",
      "value" : "Constant:"
    },

    "imgConstant" : {
      "type" : "image",
      "file" : "/interface/constant/tbxBg.png",
      "position" : [54, 59],
      "zlevel" : -3
    },

    "tbxConstant" : {
      "type" : "textbox",
      "position" : [60, 60],
      "textAlign" : "left",
      "maxWidth" : 64,
      "focus" : true,
      "callback": "setConstantValue"
    },

    "btnSave" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png",
      "press" : "/interface/optionsmenu/controlsbuttonhover.png",
      "caption" : "Save",
      "position" : [75, 40],
      "callback" : "saveConstantValue"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [135, 80]
    }
  },

  "scriptWidgetCallbacks" : [
     "setConstantValue",
     "saveConstantValue"
  ],

  "scripts" : ["/interface/constant/constant.lua"],
  "scriptDelta" : 12
}
